@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
h2{
    font-family: 'Righteous', cursive;
    color : rgb(98, 0, 255);
}

.bar{
    background : rgb(83, 0, 160) !important;
    padding : 100px !important;
}

.dow{
    border-radius: 25px;
    color : #fff;
    background: rgb(255, 174, 0);
}

.about-photo{
    color : rgb(49, 216, 119);
}
